@each $color, $value in $theme-colors {
  .bg-inverse-icon-#{$color} {
    @include bg-inverse-icon($value);
  }
}

.fullscreen-logo-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 400px;
    width: 70%;
  }
}
