doctype html
html(lang='cs')
 body
   h1 Obnova hesla
   div.remark
     p Odkaz pro obnovu hesla je zde: 
      a(href=`${link}`) obnova hesla.
     p Pokud jste o obnovu hesla nežádali, můžete tento email ignorovat.