doctype html
html(lang='cs')
 body
   h1 Ověření e-mailové adresy
   div.remark
     p Děkujeme za vytvoření účtu u nás. Už stačí jen potvrdit Vaši e-mailovou adresu:
      a(href=`${link}`) na tomto odkaze.
     p Přihlašovací údaje: 
     p Klíč: #{key}
     p Přihlašovací jméno: #{email}
     p Heslo: Vaše zadané heslo