.modal {
  .modal-dialog {
    height: calc(100% - 60px);

    .modal-content {
      max-height: 100%;
      overflow-y: scroll;
    }

    .modal-options {
      position: absolute;
      right: 1.5rem;
      top: 1rem;
      z-index: 1;

      .dropdown-toggle {
        line-height: 1.3;

        i {
          font-size: 1.45rem;
        }
      }
    }
  }
}

.modal.show {
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 90%;

      &.modal-lg {
        max-width: 500px;
      }
    }
  }
}
